@page
@model BookingCinema.Pages.Admin.Users.DeleteModel
@{
}
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h3>Are you sure you want to delete this User?</h3>
<div class="card p-3">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel!.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel!.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel!.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel!.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel!.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel!.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel!.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel!.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModel!.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModel!.Role)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="UserModel!.UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-page="/Admin/Users/Index">Back to List</a>
    </form>
</div>
