@page
@model BookingCinema.Pages.Admin.Movies.DetailsModel
@{
}

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Movie Details</h1>

<div class="card p-3">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie!.Img)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie!.Img)
        </dd>
    </dl>
    <div>
        <a class="btn btn-danger" asp-page="/Admin/Movies/Index">Back to List</a>
        <a asp-page="/Admin/Movies/Update" class="btn btn-primary" asp-route-id="@Model.Movie!.MovieId">Edit</a>
    </div>

</div>
