@page
@model BookingCinema.Pages.Admin.SeatBookings.IndexModel
@{
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between">
    <h1>List SeatBooking</h1>
    <p>
        <a class="btn btn-primary" asp-page="/Admin/SeatBookings/Create">Create New</a>
    </p>

</div>
<div class="card ">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SeatBookings[0].BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatBookings[0].Seat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatBookings[0].Showtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatBookings[0].User!.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatBookings[0].UserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SeatBookings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seat!.SeatName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Showtime!.ShowDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User!.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User!.UserId)
                    </td>
                    <td>
                        <a asp-page="/Admin/SeatBookings/Update" class="btn btn-success" asp-route-id="@item.BookingId">Edit</a> |
                        <a asp-page="/Admin/SeatBookings/Details" class="btn btn-primary" asp-route-id="@item.BookingId">Details</a> |
                        <a asp-page="/Admin/SeatBookings/Delete" class="btn btn-danger" asp-route-id="@item.BookingId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>